* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit";
    font-weight: 400;
    
}

.container {
    margin: 10rem auto;
    width: 735px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 2.5rem;
}

img {
    align-items: center;
    display: flex;
    width: 655px;
    border-radius: 7px;
}

h1 {
    font-family: "Young serif", serif;
    color: hsl(24, 5%, 18%);
    font-weight: 400;
    margin: 1rem 0rem;
}

.heading {
    color: #575351;
}

h2 {
    font-family: "Young Serif";
    color: hsl(14, 45%, 36%);
    font-weight: 400;
    padding-bottom: 10px;
}

h3 {
    font-family: "Outfit";
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}

.ingredients, .instructions, .nutrition {
    justify-content: left;
    line-height: 25px;
    color: #575351;
}

li {
    margin-left: 25px;
    padding: 5px;
    padding-left: 10px;
}


li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

.prep li {
    padding-left: 10px;
    margin-left: 25px;
}

.prep li::marker {
    color: hsl(332, 51%, 32%);
}

.prep {
    background:hsl(330, 100%, 98%);
    border-radius: 7px;
    height: 195px;
    margin: 2rem 0rem;
    padding: 1.5rem 0rem 1.5rem 3rem;
    line-height: 30px;
    color: #575351;
}

.divider {
    height: 1px;
    background: #e2e2e2;
    margin: 2rem 0rem;
}

.values-bold {
    color: hsl(14, 45%, 36%);
}

.nutrition-divider {
    height: 1px;
    background: #e2e2e2;
}

.nutrition-card  {
    display: flex;
}

.nutrition p {
    margin: 1rem 0rem; 
}

.macro {
    width: 340px;
    padding-left: 2rem;   
    padding-bottom: 0px;
}

.attribution {
   text-align: center;
   padding-top: 40px;
}

@media screen and (max-width: 700px ){
   h1 {
    font-size: 132%;
   }
   
    .container {
    width: 85%;
   }

   img {
    width: 100%;
   }

   .prep {
    width: 100%;
    height: 100%;
    padding-left: 15px;
   }

   .macro {
    padding-left: 10px;
   }
}


@media screen and (max-width: 1400px ){
    .container{
        font-size: 20px;
        width: 90%;
    }

    img {
        width: 100%;
    }

    span {
        padding-left: 90px;
    }

    .attribution {
       padding-right: 50px;
    }
}








